body {
background-color: black;
justify-content: center;

}

h1 {
    color: white;
}

header {
    text-align: center;
}

footer {
    text-align: center;
}

.mainBody {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.player {
    text-align: center;
}

.board {
    display: flex;
    flex-wrap: wrap;
    height: 360px;
    width: 360px;
}

.cell {
    display: flex;
    color: white;
    font-size: 60px;
    width: 115px;
    height: 119px;
    justify-content: space-around;
    align-items: center;
}

.cell:nth-child(3n+2){
    border-left: 3px solid white;
    border-right: 3px solid white;
}

.cell:nth-child(n+4):nth-child(-n+6){
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}

#playComputerButton {
    justify-content: center;
}

